{% extends "base.html" %}
{% block content %}

<h2>About Me</h2>

<p class="mt-4">
I am a second-year B.Tech student in Electronics and Communication Engineering at Assam University Silchar.
I have a strong interest in Python development and data science.
</p>

<p>
I enjoy solving real-world problems through coding and continuously improving my technical skills.
Currently, I am focused on building strong foundations in programming, data analysis, and backend development.
</p>

<h4 class="mt-4">Education</h4>

<ul>
    <li>B.Tech in ECE – Assam University Silchar (2nd Year)</li>
</ul>

<h4 class="mt-4">Technical Skills</h4>

<ul>
    <li>Programming: Python, C++</li>
    <li>Python Libraries: NumPy, Pandas, Matplotlib, OpenCV</li>
    <li>Web Development: Flask, HTML, CSS</li>
    <li>Tools: Git, GitHub, VS Code</li>
</ul>

{% endblock %}
