{% extends "base.html" %}
{% block content %}

<div class="text-center mt-5">
    <img src="{{ url_for('static', filename='images/profile.png') }}" 
     alt="Profile" 
     width="150" 
     style="border-radius: 50%;">

    <h1 class="display-3 hero-title">Niranjan Kumar</h1>

    <h4 class="text-info mt-3">
        Python Developer | Data Science Student
    </h4>

    <p class="lead hero-subtitle mt-4">
        Passionate about building real-world solutions using Python and continuously learning data-driven technologies.
    </p>

    <div class="mt-4">
        <a href="/projects" class="btn btn-primary btn-lg me-3">View Projects</a>
        <a href="/static/resume.pdf" class="btn btn-outline-light btn-lg" download>Download Resume</a>
    </div>

    <!-- Social Links -->
    <div class="mt-5">
        <a href="https://www.linkedin.com/in/niranjanyadav07" target="_blank" class="btn btn-outline-info me-2">LinkedIn</a>
        <a href="https://github.com/ni-ranjanyadav" target="_blank" class="btn btn-outline-light me-2">GitHub</a>
        <a href="mailto:niranjanyadav8044@gmail.com" class="btn btn-outline-success me-2">Email</a>
        <a href="https://www.instagram.com/ni_ranjanyadav7" target="_blank" class="btn btn-outline-danger">Instagram</a>
    </div>

</div>

{% endblock %}
