{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">My Projects</h2>

<div class="row">

    <div class="col-md-6 mb-4">
        <div class="card bg-dark text-white p-3">
            <h4>Student Result Analyzer</h4>
            <p>
                A Python project that analyzes student marks,
                calculates grades, and generates performance summary.
            </p>
            <p><strong>Tech:</strong> Python, Pandas</p>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card bg-dark text-white p-3">
            <h4>Expense Tracker (Flask)</h4>
            <p>
                A web application to track daily income and expenses
                using Flask and SQLite.
            </p>
            <p><strong>Tech:</strong> Flask, SQLite</p>
        </div>
    </div>

</div>

{% endblock %}