{% extends "base.html" %}
{% block content %}

<h2>Resume</h2>

<div class="mt-4">

<h4>Niranjan Kumar</h4>
<p><strong>Email:</strong> niranjanyadav8044@gmail.com</p>
<p><strong>LinkedIn:</strong> linkedin.com/in/niranjanyadav07</p>
<p><strong>GitHub:</strong> github.com/ni-ranjanyadav</p>

<hr>

<h4>Education</h4>
<p>B.Tech in Electronics and Communication Engineering<br>
Assam University Silchar (2nd Year)</p>

<hr>

<h4>Technical Skills</h4>
<ul>
<li>Python</li>
<li>C++</li>
<li>NumPy, Pandas, Matplotlib, OpenCV</li>
<li>Flask</li>
<li>Git, GitHub, VS Code</li>
</ul>

<hr>

<h4>Career Objective</h4>
<p>
Motivated and enthusiastic Python developer seeking internship opportunities 
to apply programming skills and gain hands-on industry experience.
</p>

</div>

{% endblock %}
